In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [2]:
test=pd.read_csv('datasets/test.csv')

In [3]:
test.shape

(879, 80)

##### Rename columns for easy modification

In [4]:
test.columns = test.columns.str.lower()
test.columns = test.columns.str.replace(' ', '').str.replace('/', '')

##### Treating null values

In [5]:
test.isnull().sum().sort_values(ascending=False).head(50)

poolqc          875
miscfeature     838
alley           821
fence           707
fireplacequ     422
lotfrontage     160
garagecond       45
garagequal       45
garageyrblt      45
garagefinish     45
garagetype       44
bsmtexposure     25
bsmtfintype1     25
bsmtqual         25
bsmtfintype2     25
bsmtcond         25
masvnrarea        1
masvnrtype        1
electrical        1
overallcond       0
exterqual         0
extercond         0
foundation        0
exterior2nd       0
exterior1st       0
roofmatl          0
roofstyle         0
yearremodadd      0
yearbuilt         0
saletype          0
overallqual       0
housestyle        0
bldgtype          0
condition2        0
condition1        0
landslope         0
lotconfig         0
utilities         0
landcontour       0
lotshape          0
street            0
lotarea           0
mszoning          0
mssubclass        0
pid               0
neighborhood      0
totalbsmtsf       0
bsmtfinsf1        0
kitchenqual       0
mosold            0
dtype: int64

1. Treating Fireplace Quality

In [6]:
test.loc[(test.fireplaces==0) & (test.fireplacequ.isnull()), ['fireplacequ']] = 'NA'

In [7]:
test.fireplaces.isnull().sum()

0

2. Treating Masonry

In [8]:
test.masvnrarea = test.masvnrarea.fillna(0)

In [9]:
test.masvnrtype = test.masvnrtype.fillna('None')

In [10]:
test.masvnrtype.isnull().sum()

0

3. Treating poolqc

In [11]:
test.loc[(test.poolarea==0) & (test.poolqc.isnull()), ['poolqc']] = 'NA'

In [12]:
test.poolqc.isnull().sum()

0

4. Treating lotfrontage

Importing the same values of neighborhood means from the train dataset

In [13]:
train=pd.read_csv('datasets/train.csv')

In [14]:
train.columns = train.columns.str.lower()
train.columns = train.columns.str.replace(' ', '').str.replace('/', '')

In [15]:
neighborhood_means = train.groupby('neighborhood')['lotfrontage'].mean()

In [16]:
test['lotfrontage'] = test.apply(lambda x: neighborhood_means[x['neighborhood']] if np.isnan(x['lotfrontage']) else x['lotfrontage'], axis=1)

In [17]:
test.lotfrontage.isnull().sum()

0

5. Fixing Garage

In [18]:
test['garagetype'] = test['garagetype'].fillna('None')
test['garagefinish'] = test['garagefinish'].fillna('None')
test['garagequal'] = test['garagequal'].fillna('None')
test['garagecond'] = test['garagecond'].fillna('None')
test['garageyrblt'] = test['garageyrblt'].fillna(0)
test['garagearea'] = test['garagearea'].fillna(0)
test['garagecars'] = test['garagecars'].fillna(0)

In [19]:
test[['garagearea','garagetype', 'garagequal', 'garagecars','garageyrblt','garagefinish','garagecond']].isnull().sum()

garagearea      0
garagetype      0
garagequal      0
garagecars      0
garageyrblt     0
garagefinish    0
garagecond      0
dtype: int64

6. Fixing Basement

In [20]:
test[['bsmtexposure','bsmtfintype2', 'bsmtcond', 'bsmtfintype1','bsmtqual']].sort_values(by='bsmtexposure',na_position='first').head(40)

    bsmtexposure bsmtfintype2 bsmtcond bsmtfintype1 bsmtqual
15           NaN          NaN      NaN          NaN      NaN
37           NaN          NaN      NaN          NaN      NaN
77           NaN          NaN      NaN          NaN      NaN
79           NaN          NaN      NaN          NaN      NaN
113          NaN          NaN      NaN          NaN      NaN
145          NaN          NaN      NaN          NaN      NaN
190          NaN          NaN      NaN          NaN      NaN
206          NaN          NaN      NaN          NaN      NaN
279          NaN          NaN      NaN          NaN      NaN
292          NaN          NaN      NaN          NaN      NaN
294          NaN          NaN      NaN          NaN      NaN
315          NaN          NaN      NaN          NaN      NaN
321          NaN          NaN      NaN          NaN      NaN
414          NaN          NaN      NaN          NaN      NaN
431          NaN          NaN      NaN          NaN      NaN
481          NaN          NaN      NaN          NaN      NaN
528          NaN          NaN      NaN          NaN      NaN
553          NaN          NaN      NaN          NaN      NaN
614          NaN          NaN      NaN          NaN      NaN
619          NaN          NaN      NaN          NaN      NaN
622          NaN          NaN      NaN          NaN      NaN
626          NaN          NaN      NaN          NaN      NaN
655          NaN          NaN      NaN          NaN      NaN
703          NaN          NaN      NaN          NaN      NaN
772          NaN          NaN      NaN          NaN      NaN
524           Av          Rec       TA          ALQ       TA
564           Av          Rec       TA          ALQ       TA
472           Av          Unf       TA          GLQ       Gd
471           Av          LwQ       TA          ALQ       Gd
592           Av          Unf       TA          GLQ       Gd
723           Av          Unf       Gd          GLQ       Gd
725           Av          Unf       TA          GLQ       Gd
241           Av          Unf       TA          Unf       Gd
566           Av          BLQ       TA          LwQ       Gd
467           Av          Unf       TA          GLQ       Gd
121           Av          Unf       TA          GLQ       Ex
589           Av          Unf       TA          GLQ       Ex
124           Av          Unf       TA          GLQ       Gd
729           Av          Unf       TA          Unf       Gd
126           Av          Unf       TA          GLQ       Ex

In [21]:
for i in ['bsmtexposure','bsmtfintype2', 'bsmtcond', 'bsmtfintype1','bsmtqual']:
    test[i] = test[i].fillna('None')

In [22]:
test[['bsmtexposure','bsmtfintype2', 'bsmtcond', 'bsmtfintype1','bsmtqual']].isnull().sum()

bsmtexposure    0
bsmtfintype2    0
bsmtcond        0
bsmtfintype1    0
bsmtqual        0
dtype: int64

7. Treating Alley and Fence

In [23]:
test['alley'] = test['alley'].fillna(0)

In [24]:
test['fence'] = test['fence'].fillna('None')

8. Fixing Misc Feature

In [25]:
test['miscfeature']= test['miscfeature'].fillna('None')

9. Fixing Electrical

In [26]:
test['electrical'].value_counts()

SBrkr    814
FuseA     48
FuseF     15
FuseP      1
Name: electrical, dtype: int64

In [27]:
test['electrical']= test['electrical'].fillna('Sbrkr')

##### Dropping other same columns as train set

In [28]:
test = test.drop(['pid','id'], axis=1)

In [29]:
test = test.drop(['garagecars'], axis=1)

In [30]:
test = test.drop(['1stflrsf'], axis=1)

In [31]:
test = test.drop(['totrmsabvgrd'], axis=1)

#####  Nominal variables for OHE

In [32]:
test = pd.get_dummies(test, columns=['mssubclass','mszoning','street','alley','landcontour','lotconfig','neighborhood','condition1','condition2','bldgtype','housestyle','roofstyle','roofmatl','exterior1st','exterior2nd','masvnrtype','foundation','heating','centralair','garagetype','miscfeature','saletype'], drop_first=True)

In [33]:
test.shape

(879, 197)

##### Ordinal variables (to be mapped to numerical scale)

In [34]:
test['lotshape'] = test['lotshape'].map({'Reg':1,'IR1':2,'IR2':3,'IR3':4})

In [35]:
test['utilities'] = test['utilities'].apply(lambda x: 'fullpub' if x == 'AllPub' else 'missingpub')
test['utilities'] = test['utilities'].map({'missingpub':1,'fullpub':2})

In [36]:
test['landslope'] = test['landslope'].apply(lambda x: 'flat' if x == 'Gtl' else 'sloped')
test['landslope'] = test['landslope'].map({'sloped':2,'flat':1})

In [37]:
test['exterqual'] = test['exterqual'].map({'Ex':4,'Gd':3,'TA':2,'Fa':1})

In [38]:
test['extercond'] = train['extercond'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1})

In [39]:
test['bsmtqual'] = test['bsmtqual'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1,'None':0})

In [40]:
test['bsmtcond'] = test['bsmtcond'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1,'None':0})

In [41]:
test['bsmtexposure'] = test['bsmtexposure'].map({'Gd':3,'Av':2,'Mn':1,'No':0,'None':0})

In [42]:
test['bsmtfintype1'] = test['bsmtfintype1'].map({'GLQ':5,'ALQ':4,'BLQ':3,'Rec':2,'LwQ':1,'Unf':0,'None':0})

In [43]:
test['bsmtfintype2'] = test['bsmtfintype2'].map({'GLQ':5,'ALQ':4,'BLQ':3,'Rec':2,'LwQ':1,'Unf':0,'None':0})

In [44]:
test['heatingqc'] = test['heatingqc'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1})

In [45]:
test['electrical'] = test['electrical'].map({'SBrkr':5,'FuseA':4,'FuseF':3, 'FuseP':2, 'Mix':1})

In [46]:
test['kitchenqual'] = test['kitchenqual'].map({'Ex':4,'Gd':3,'TA':2,'Fa':1})

In [47]:
test['functional'] = test['functional'].map({'Typ':7,'Min1':6,'Min2':5,'Mod':4,'Maj1':3,'Maj2':2,'Sev':1,'Sal':0})

In [48]:
test['fireplacequ'] = test['fireplacequ'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1,'None':0})

In [49]:
test['garagefinish'] = test['garagefinish'].map({'Fin':3,'RFn':2,'Unf':1,'None':0})

In [50]:
test['garagequal'] = test['garagequal'].map({'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1,'None':0})

In [51]:
test['paveddrive'] = test['paveddrive'].apply(lambda x: 'Paved' if x == 'Y' else 'Nonpaved')
test['landslope'] = test['landslope'].map({'Paved':2,'Nonpaved':1})

In [52]:
test.drop('garagecond',axis=1,inplace=True)

In [53]:
test.drop('poolqc',axis=1,inplace=True)

In [54]:
test.drop('fence',axis=1,inplace=True)

##### Creating new variables

1. Season

In [55]:
#Creates variable for season of sale from month of sale variable
seasons = {
    'Spring':[3,4,5],
    'Summer':[6,7,8],
    'Fall':[9,10,11],
    'Winter':[12,1,2]}

test['season'] = test['mosold'].map(lambda x: [i for i in seasons if x in seasons[i]][0])

#Gets dummies for season of sale
test = pd.get_dummies(test, columns=['season'],drop_first=True)

In [56]:
test.drop('mosold',axis=1,inplace=True)

2. Age

In [57]:
#create function to calculate age
def ageyears(feature): 
    return feature.apply(lambda x: 0 if x==0 else (2020 - x))

#create new columns to calculate age variables
test['houseage'] = ageyears(test.yearbuilt)
test['remodage'] = ageyears(test.yearremodadd)
test['garageage'] = ageyears(test.garageyrblt)

In [58]:
test.drop('yearbuilt',axis=1,inplace=True)

In [59]:
test.drop('yearremodadd',axis=1,inplace=True)

In [60]:
test.drop('garageyrblt',axis=1,inplace=True)

##### Checking of test data set

In [61]:
test.head()

,lotfrontage,lotarea,lotshape,utilities,landslope,overallqual,overallcond,masvnrarea,exterqual,extercond,...,saletype_New,saletype_Oth,saletype_VWD,saletype_WD,season_Spring,season_Summer,season_Winter,houseage,remodage,garageage
0,69.000000,9142,1,2,NaN,6,8,0.0,2,3,...,0,0,0,1,1,0,0,110,70,110.0
1,72.774648,9662,2,2,NaN,5,4,0.0,2,3,...,0,0,0,1,0,1,0,43,43,43.0
2,58.000000,17104,2,2,NaN,7,5,0.0,3,4,...,1,0,0,0,0,0,0,14,14,14.0
3,60.000000,8520,1,2,NaN,5,6,0.0,3,3,...,0,0,0,1,0,1,0,97,14,85.0
4,75.192453,9500,2,2,NaN,6,5,247.0,2,3,...,0,0,0,1,0,1,0,57,57,57.0

In [62]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 879 entries, 0 to 878
Columns: 196 entries, lotfrontage to garageage
dtypes: float64(7), int64(41), object(1), uint8(147)
memory usage: 462.8+ KB